<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/travelguild</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.myprojet.entities.Account" />
        <mapping class="com.myprojet.entities.Area" />
        <mapping class="com.myprojet.entities.Province" />
        <mapping class="com.myprojet.entities.Smarthome" />
        <mapping class="com.myprojet.entities.Userlibrary" />
        <mapping class="com.myprojet.entities.Food" />
        <mapping class="com.myprojet.entities.Sensorinfo" />
        <mapping class="com.myprojet.entities.Enddevice" />
        <mapping class="com.myprojet.entities.Place" />
        <mapping class="com.myprojet.entities.Zone" />
        <mapping class="com.myprojet.entities.Libraryinfo" />
    </session-factory>
</hibernate-configuration>
